@use './useFonts.scss' as *;

body {
  font-family: var(--global-font-family);
  padding: 0;
  margin: 0;
  overflow: scroll;
  width: min(1200px, 100svw);
}

::-webkit-scrollbar {
  display: none;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  align-items: center;
}

html,
[class^='el-'] {
  font-family: var(--global-font-family);
}

:root {
  --global-font-family: 'Maple Mono', Arial, Helvetica, sans-serif;
  --el-font-family: var(--global-font-family);
}

a {
  text-decoration: none;
}
